{% extends 'layouts/principalMenu.html' %}

{% block content %}

<!--
Esta sección inicia es el formulario para la creacion de proyectos, utilizando la clase "container" de Bootstrap para garantizar una respuesta completa.
-->

<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <form method="POST" action="{% url 'create_project' %}">
                <h1>Crear nuevo proyecto</h1>
                {% csrf_token %}
                {{form.as_p}}
                <button>Guardar</button>
            </form>
        </div>
    </div>
</main>



{% endblock %}