{% extends 'layouts/principalMenu.html' %}
<!-- 
    Esta sección inicia el contenedor principal de la página de proyectos, utilizando la clase "container-fluid" de Bootstrap para garantizar una respuesta completa.
-->
{% block content %}
<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <h1>Pagina de projectos</h1>
            {% for project in projects %}
            <article class="card">
                <a href="{% url 'project_detail' project.id %}">
                    <h1>{{project.name}}</h1>
                </a>
                
            </article>
            {% endfor %} 
        </div>
      
    </div>
   

</div>



{% endblock %}