{% block content %}

<!-- Modal detalles del Proyectos -->
<div class="modal fade" id="addRowModalDetail" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <span class="fw-mediumbold">
                        Informacion del Proyecto</span>
                    <span class="fw-light">
                    </span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal-body-content-detail">
                <p class="small">Detalles completos del proyecto</p>
                <!-- Aquí HTMX insertará el formulario -->
            </div>
            <div class="modal-footer no-bd">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


{% if project %}
<form method="POST" id="detailProjectForm" action="{% url 'project_detail' project.id %}"
    hx-target="#modal-body-content-detail" hx-swap="outerHTML">
    {% csrf_token %}
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group form-group-default">
                <label>Titulo</label>
                <input id="name" name="name" type="text" class="form-control" value="{{project.name}}" disabled>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group form-group-default">
                <label>Horario</label>
                <input id="horario_reunion" name="horario_reunion" type="text" class="form-control"
                    value="{{project.horario_reunion}}" disabled>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group form-group-default">
                <label>Tema</label>
                <input id="tema_investigacion" name="tema_investigacion" type="text" class="form-control"
                    value="{{project.tema_investigacion}}" disabled>
            </div>
        </div>
        {% for integrante in integrantes %}
        <div class="col-sm-12">
            <p class="small">Datos integrante</p>
        </div>
        <div class="col-md-6 pr-0">
            <div class="form-group form-group-default">
                <label>Nombre</label>
                <input id="integrante_name_{{integrante.id}}" name="integrante_name_{{integrante.id}}" type="text"
                    class="form-control" value="{{integrante.user.first_name}} {{integrante.user.last_name}}" disabled>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group form-group-default">
                <label>Cedula</label>
                <input id="cedula_{{integrante.id}}" name="cedula_{{integrante.id}}" type="text" class="form-control"
                    value="{{integrante.cedula}}" disabled>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group form-group-default">
                <label>Codigo</label>
                <input id="student_code_{{integrante.id}}" name="student_code_{{integrante.id}}" type="text"
                    class="form-control" value="{{integrante.student_code}}" disabled>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group form-group-default">
                <label>Correo</label>
                <input id="institutional_mail_{{integrante.id}}" name="institutional_mail_{{integrante.id}}" type="text"
                    class="form-control" value="{{integrante.user.email}}" disabled>
            </div>
        </div>
        {% endfor %}
    </div>
</form>
{% endif %}

{% endblock %}