{% extends 'layouts/base.html' %}

{% block content%}

<h1>About</h1>

<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam sit sequi mollitia, molestiae sint, beatae aperiam tempora illum id veniam tempore non ipsum, in quis? Sed velit nemo facere cumque dolor repellat alias, facilis dicta quos. Quod veritatis, quisquam non nisi sed officiis quis quae labore ab consectetur quas, tempore voluptas explicabo provident. Officiis ex tempore, rem eos eligendi dignissimos ratione, id porro necessitatibus eius culpa. Doloribus aut quos nulla. Magni eaque numquam temporibus explicabo voluptatibus cupiditate! Itaque quasi nostrum rem facere qui? Aliquam voluptate beatae dolorum quisquam pariatur sapiente ea doloremque placeat magni excepturi quidem possimus, distinctio cumque inventore.
</p>

{% endblock %}