{% extends 'layouts/base.html' %}

{% block content %}
<main class="container py-5" style="padding-top: 6rem !important;">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>
            La gestión de proyectos de software hace referencia a la rama de la gestión de proyectos dedicada a la
            planificación, programación, asignación de recursos, ejecución, seguimiento y entrega de proyectos de
            software y web.

            La gestión de proyectos en ingeniería de software difiere de la gestión de proyectos tradicional en que los
            proyectos de software tienen un proceso de ciclo de vida único que requiere varias rondas de pruebas,
            actualizaciones y comentarios de los clientes. La mayoría de los proyectos relacionados con TI se gestionan
            al estilo Agile, para seguir el ritmo cada vez más rápido del negocio e iterar en función de los comentarios
            de los clientes y las partes interesadas.
        </p>
    </section>
</main>

{% endblock %}