{% block content %}

<!-- Modal -->
<div class="modal fade" id="addActivityModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document" id="dialog-add-activity" hx-target="this">
        <div class="modal-content">
            <div class="modal-header no-bd">
                <h4 class="modal-title">
                    <span class="fw-mediumbold">Nueva</span>
                    <span class="fw-light">Actividad</span>
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="createActivityForm" action="{% url 'activity_create' %}" method="POST">
                    <!-- <p>Formulario para la creacion de las actividades de los proyectos</p> -->
                    {{error}}
                    {% csrf_token %}
                    <input type="hidden" id="id_stage" name="id_stage" value="">
                    <div class="col-sm-12">
                        <div class="form-group form-group-default">
                            <label for="title">Titulo</label>
                            <input type="text" name="title" id="title" class="form-control"
                                placeholder="Titulo Actividad">
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group form-group-default">
                            <label for="description">Descripción</label>
                            <textarea name="description" id="description" class="form-control"
                                placeholder="Descripción de la tarea" style="height: 150px !important;"></textarea>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group form-group-default">
                            <label for="stageSelect">Etapa de la Actividad:</label>
                            <select class="form-control" id="stageSelect" name="stageSelect">
                                <option value="">Seleccione la etapa</option>
                                {% for stage in stages %}
                                <option value="{{stage.id}}">{{stage.title}}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="text-right">
                        <button class="btn btn-primary">Guardar</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer no-bd">
                <!-- <button type="button" id="addRowButton" class="btn btn-primary">Add</button> -->
            </div>
        </div>
    </div>
</div>



{% endblock %}